asn1crypto==0.24.0
attrs==20.2.0
Automat==0.7.0
certifi==2018.4.16
cffi==1.14.3
constantly==15.1.0
cryptography==3.2
cssselect==1.1.0
flake8==3.8.4
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itemadapter==0.1.0
itemloaders==1.0.3
jmespath==0.10.0
lxml==4.6.3
mccabe==0.6.1
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.18
PyDispatcher==2.0.5
pyflakes==2.2.0
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
queuelib==1.5.0
Scrapy==2.3.0
service-identity==18.1.0
six==1.11.0
Twisted==20.3.0
urllib3==1.24.2
w3lib==1.22.0
zope.interface==5.1.0
